<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>
"fml" Configuration Interface for _ML_ mailing list
</TITLE>
<META http-equiv="Content-Type"
	content="text/html; charset=ISO-2022-JP">
<LINK rev="made" href="mailto:fml-bugs@fml.org">
<LINK rev="Contents" href="index.html">
<LINK rev="alternate" lang="en" href="index-e.html">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
</HEAD>
<BODY BGCOLOR="#E6E6FA">
<!-- =================================================================== -->
<H2>
<CENTER>
"fml" Configuration Interface for _ML_ mailing list
</CENTER>
</H2>

<P>
<UL>
<LI><A HREF="menu.cgi?LANGUAGE=Japanese">[Japanese]</A>
<LI><A HREF="#add.bye"> add/remove a ML member </A>
<LI><A HREF="#adminadd.bye"> add/remove a remote administrator </A>
<LI><A HREF="#config">_ML_  ML's setup in detail </A>
<LI><A HREF="#password"> password for a remote administrator </A>
<LI><A HREF="#log"> see ML's log </A>
</UL>


<HR>
<UL>

   <LI> add/remove a ML member 

	<FORM ACTION="makefml.cgi" METHOD=POST>
	<INPUT TYPE=hidden NAME=LANGUAGE VALUE=English>
	<TABLE>
	<TR>
		<TD ALIGN=right>  Email address:
		<TD ALIGN=left> <INPUT NAME=SPECIFIC_MAIL_ADDR SIZE=30>
		<TABLE>
			<TD ALIGN=left> choice:
			<TD ALIGN=right>
			<SELECT NAME=MAIL_ADDR SIZE=2 >
			__EXPAND_OPTION_MEMBER_LIST__
			</SELECT>
		</TABLE>
	<TR>
		<TD ALIGN=right>  add/remove a ML member:
		<TD ALIGN=left> 
		<INPUT TYPE=hidden NAME=ML VALUE=_ML_>
		<SELECT NAME=PROC SIZE=2 >
		<OPTION VALUE=ADD>ADD add a new member 
		<OPTION VALUE=BYE>BYE remove a member 
		</SELECT>
	</TABLE>
	_____________________________
	<BR>
	<INPUT NAME=submit-p TYPE=submit VALUE=Submit>
	<INPUT NAME=reset-p TYPE=reset VALUE=Reset>
	</FORM>


   
   <A NAME=adminadd.bye>
   <LI> add/remove a remote administrator 
	<FORM ACTION="makefml.cgi" METHOD=POST>
	<INPUT TYPE=hidden NAME=LANGUAGE VALUE=English>
	<INPUT TYPE=hidden NAME=ML VALUE=_ML_>

	<TABLE>
	<TR>
		<TD ALIGN=right>  Email address:
		<TD ALIGN=left> <INPUT NAME=SPECIFIC_MAIL_ADDR SIZE=30>
		<TABLE>
			<TD ALIGN=left> choice:
			<TD ALIGN=right>
			<SELECT NAME=MAIL_ADDR SIZE=2 >
			__EXPAND_OPTION_ADMIN_MEMBER_LIST__
			</SELECT>
		</TABLE>

	<TR>
		<TD ALIGN=right>  add/remove:
		<TD ALIGN=left> 
		<SELECT NAME=PROC SIZE=2 >
		<OPTION VALUE=ADD_ADMIN>ADD ADMIN  (add a remote administrator)
		<OPTION VALUE=BYE_ADMIN>BYE ADMIN  (remove a remote administrator)
		</SELECT>
	</TABLE>
	_____________________________
	<BR>
	<INPUT NAME=submit-p TYPE=submit VALUE=Submit>
	<INPUT NAME=reset-p TYPE=reset VALUE=Reset>
	</FORM>

<HR>
   <A NAME=config>
   <LI> setup in detail  (makefml config)
	<BR>
	<FORM ACTION="makefml.cgi" METHOD=POST>
	<INPUT TYPE=hidden NAME=LANGUAGE VALUE=English>
	<INPUT TYPE=hidden NAME=PROC VALUE=config>
	<INPUT TYPE=hidden NAME=PTR VALUE=/>
	<INPUT TYPE=hidden NAME=ML VALUE=_ML_>
	<INPUT NAME=submit-p TYPE=submit VALUE=GO>
	<INPUT NAME=reset-p TYPE=reset VALUE=Reset>
	</FORM>


<HR>
	<A NAME=password>
	<LI> password for a remote administrator 
	<BR>
	update passwords for admin command, approve command and CGI.

	<!- apply patch by ikeda@meple.or.jp ->
	<!- http://www.maple.or.jp/~ikeda/diffs/fml/ml-admin_index_html.diff ->
	<FORM ACTION="makefml.cgi" METHOD=POST>
	<INPUT TYPE=hidden NAME=LANGUAGE VALUE=English>
	<INPUT TYPE=hidden NAME=PROC VALUE=passwd>
	<INPUT TYPE=hidden NAME=ML VALUE=_ML_>
	<TABLE>
	<TR>
		<TD ALIGN=right>  Email address:
		<TD ALIGN=left> <INPUT NAME=MAIL_ADDR SIZE=30>

	<TR>
		<TD ALIGN=right>  password:
		<TD ALIGN=left> <INPUT TYPE=password NAME=PASSWORD SIZE=30>

	<TR>
		<TD ALIGN=right>  password again:
		<TD ALIGN=left> <INPUT TYPE=password NAME=PASSWORD_VRFY SIZE=30>
	</TABLE>
	_____________________________
	<BR>
	<INPUT NAME=submit-p TYPE=submit VALUE=Go>
	<INPUT NAME=reset-p TYPE=reset VALUE=Reset>
	</FORM>

   <HR>
   <A NAME=log>
   <LI> see ML's log 

	<FORM ACTION="makefml.cgi" METHOD=POST>
	<INPUT TYPE=hidden NAME=LANGUAGE VALUE=English>
	<INPUT TYPE=hidden NAME=PROC VALUE=log>
	<INPUT TYPE=hidden NAME=ML VALUE=_ML_>
	<BR>
	<INPUT NAME="OPTION" TYPE="radio" VALUE="tail" checked> the last N lines 
	<INPUT NAME="TAIL_SIZE" VALUE=100 SIZE=5>
	<BR>
	<INPUT NAME="OPTION" TYPE="radio" VALUE="day"> one day 
	<SELECT NAME="YYYY" SIZE=2 >
	__EXPAND_YYYY__
	</SELECT>
	<SELECT NAME="MM" SIZE=2 >
	__EXPAND_MM__
	</SELECT>
	<SELECT NAME="DD" SIZE=2 >
	__EXPAND_DD__
	</SELECT>
	<BR>
	<INPUT NAME="OPTION" TYPE="radio" VALUE="all"> all 

	<BR>

	<INPUT NAME=submit-p TYPE=submit VALUE=GO>
	</FORM>

<PRE>
Copyright (C) 1993-2001 Ken'ichi Fukamachi
         All rights reserved. 

$FML$
</PRE>
</BODY>
</HTML>
