<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>
"fml" Configuration Interface for _ML_ mailing list
</TITLE>
<META http-equiv="Content-Type"
	content="text/html; charset=ISO-2022-JP">
<LINK rev="made" href="mailto:fml-bugs@fml.org">
<LINK rev="Contents" href="index.html">
<LINK rev="alternate" lang="en" href="index-e.html">

</HEAD>
<BODY BGCOLOR="#E6E6FA">
<!-- =================================================================== -->
<H2>
<CENTER>
"fml" Configuration Interface for _ML_ mailing list
</CENTER>
</H2>

<P>
<A HREF="/cgi-bin/ml-admin/_ML_/menu.cgi?LANGUAGE=English">[English]</A>

<HR>設定

<P>
<FORM ACTION="/cgi-bin/ml-admin/_ML_/makefml.cgi" METHOD=POST>
<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
<INPUT TYPE=hidden NAME=PROC VALUE=config>
<INPUT TYPE=hidden NAME=PTR  VALUE=/>
<INPUT TYPE=hidden NAME=ML   VALUE=_ML_>
<INPUT NAME=submit-p TYPE=submit VALUE=GO>
</FORM>



<HR>
<P>登録/削除 関係

<FORM ACTION="/cgi-bin/ml-admin/_ML_/makefml.cgi" METHOD=POST>
<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>

<P>
<TABLE>
	<TR>
		<TD ALIGN=right> Email アドレス:
		<TD ALIGN=left> <INPUT NAME=MAIL_ADDR SIZE=30>

	<TR>
		<TD ALIGN=right> 登録/削除:
		<TD ALIGN=left> 
		<SELECT NAME=PROC>
		<OPTION VALUE=ADD>登録
		<OPTION VALUE=BYE>削除
		<OPTION VALUE=ADD_ADMIN>管理者として登録
		<OPTION VALUE=BYE_ADMIN>管理者として削除
		</SELECT>
</TABLE>
_____________________________
<BR>
<INPUT NAME=submit-p TYPE=submit VALUE=Submit>
<INPUT NAME=reset-p  TYPE=reset VALUE=Reset>
</FORM>

<HR>

<PRE>
Copyright (C) 1993-1999 Ken'ichi Fukamachi
         All rights reserved. 

$Id$
</PRE>
</BODY>
</HTML>
