<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>
"fml" Configuration Interface for _ML_ mailing list
</TITLE>
<META http-equiv="Content-Type"
	content="text/html; charset=ISO-2022-JP">
<LINK rev="made" href="mailto:fml-bugs@fml.org">
<LINK rev="Contents" href="index.html">
<LINK rev="alternate" lang="en" href="index-e.html">

</HEAD>
<BODY BGCOLOR="#E6E6FA">
<!-- =================================================================== -->
<H2>
<CENTER>
"fml" Configuration Interface for _ML_ mailing list
</CENTER>
</H2>

<PRE>
このページは _ML_ メーリングリストの設定を更新/変更する画面です。
</PRE>


<P>

<HR>設定

<P>登録/削除 関係

<FORM ACTION="_CGI_PATH_/ml-admin/_ML_/makefml.cgi" METHOD=POST>
<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>

<P>
<TABLE>
	<TR>
		<TD ALIGN=right> Email アドレス:
		<TD ALIGN=left> <INPUT NAME=MAIL_ADDR SIZE=30>

	<TR>
		<TD ALIGN=right> 登録/削除:
		<TD ALIGN=left> 
		<INPUT TYPE=hidden NAME=ML   VALUE=_ML_>
		<SELECT NAME=PROC>
		<OPTION VALUE=ADD>登録
		<OPTION VALUE=BYE>削除
		<OPTION VALUE=ADD_ADMIN>管理者として登録
		<OPTION VALUE=BYE_ADMIN>管理者として削除
		</SELECT>
</TABLE>
_____________________________
<BR>
<INPUT NAME=submit-p TYPE=submit VALUE=Submit>
<INPUT NAME=reset-p  TYPE=reset VALUE=Reset>
</FORM>

<HR>
<A NAME=password><P>管理者パスワードの設定

<!- apply patch by ikeda@meple.or.jp ->
<!- http://www.maple.or.jp/~ikeda/diffs/fml/ml-admin_index_html.diff ->
<FORM ACTION="_CGI_PATH_/ml-admin/_ML_/makefml.cgi" METHOD=POST>
<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
<INPUT TYPE=hidden NAME=PROC VALUE=passwd>
<INPUT TYPE=hidden NAME=ML VALUE=_ML_>
<TABLE>
	<TR>
		<TD ALIGN=right> 管理者 Email アドレス:
		<TD ALIGN=left> <INPUT NAME=MAIL_ADDR SIZE=30>

	<TR>
		<TD ALIGN=right> パスワード:
		<TD ALIGN=left> <INPUT TYPE=password NAME=PASSWORD SIZE=30>

	<TR>
		<TD ALIGN=right> 確認のため同じパスワード:
		<TD ALIGN=left> <INPUT TYPE=password NAME=PASSWORD_VRFY SIZE=30>
</TABLE>
_____________________________
<BR>
<INPUT NAME=submit-p TYPE=submit VALUE=Go>
<INPUT NAME=reset-p  TYPE=reset VALUE=Reset>
</FORM>
<PRE>
Copyright (C) 1993-1999 Ken'ichi Fukamachi
         All rights reserved. 

$Id$
</PRE>
</BODY>
</HTML>
