$Config{'ACTION'}
$Config{'ARGV'}
$Config{'CGI_ADMIN_USER'}
$Config{'CGI_ADMIN_USER_DEF'}
$Config{'DD'}
$Config{'LANGUAGE'}
$Config{'MAIL_ADDR'}
$Config{'ML'}
$Config{'ML_DEF'}
$Config{'MM'}
$Config{'MTA'}
$Config{'OPTION'}
$Config{'PASSWORD'}
$Config{'PASSWORD_VRFY'}
$Config{'PROC'}
$Config{'PTR'}
$Config{'SPECIFIC_MAIL_ADDR'}
$Config{'TAIL_SIZE'}
$Config{'VALUE'}
$Config{'VARIABLE'}
$Config{'YYYY'}
