# fmlmk.conf example
#  ${.CURDIR}/fmlmk.conf or ~/.fmlmk.conf (default)
# $Id$

### localations

# ftp
FTP_DIR      = /var/spool/ftp/pub/fml/
ARCHIVE_DIR  = $(FTP_DIR)/archives/these_days

# www
WWW_BASE_DIR = /var/www/htdocs/fml/
WWW_DIR      = /var/www/htdocs/fml/

# export directory
DESTDIR      = /var/tmp/daily_fml_snapshots
SNAPSHOT_DIR = $(FTP_DIR)/snapshot


### [local program path]
###   Hmm, programs other than /*bin/, /usr/*bin/ should be defined ?
###
PERL  = /usr/local/bin/perl
RSYNC = /usr/local/bin/rsync
ZIP   = /usr/local/bin/zip
BZIP2 = /usr/bin/bzip2
