# msend for _ML_
_CRON_TIME_ * * * * _EXEC_DIR_/msend.pl _ML_DIR_/_ML_ -q

# If you do not set -q, you receive a log mail once an hour.
# I hope this mail might be helpful for you for further recognition.
# For Example,
# _CRON_TIME_ * * * * _EXEC_DIR_/msend.pl _ML_DIR_/_ML_

# confirmd
# _CRON_TIME_ 5 * * 0 _EXEC_DIR_/libexec/confirmd.pl _ML_DIR_/_ML_ _EXEC_DIR_
