<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>
"fml" Configuration Interface
</TITLE>
<META http-equiv="Content-Type"
	content="text/html; charset=ISO-2022-JP">
<LINK rev="made" href="mailto:fml-bugs@fml.org">
<LINK rev="Contents" href="index.html">
<LINK rev="alternate" lang="en" href="index-e.html">

</HEAD>
<BODY BGCOLOR="#E6E6FA">
<!-- =================================================================== -->
<H2>
<CENTER>
<A HREF="http://www.fml.org/fml/">"fml"</A> _FML_VERSION_ Configuration Interface
</CENTER>
</H2>

<PRE>
このページはfmlの管理下にある全ＭＬの設定を更新/変更する画面です。
基本的にサーバにはいって makefml コマンドを使える管理者と同じ権限です。
＃(makefmlにはあるけどCGIでは用意されていない機能もあります)
</PRE>

<P>
<UL>
<LI><A HREF="_CGI_PATH_/admin/menu.cgi?LANGUAGE=English">[English]</A>
<LI><A HREF="#config">特定のメーリングリストの設定/登録/削除 関係</A>
<LI><A HREF="#newml">メーリングリストの作成</A>
<LI><A HREF="#destructml">メーリングリストの削除</A>
<LI><A HREF="#cgiadmin">CGI操作可能な管理者の設定</A>
<LI><A HREF="#server_config">サーバの設定関係(初回の確認必須)</A>
</UL>

<HR>
<A NAME=config>
<P>
特定のメーリングリストの設定/登録/削除など

<FORM ACTION="_CGI_PATH_/admin/mlmenu.cgi" METHOD=POST>
<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
<INPUT TYPE=hidden NAME=PROC VALUE=config>
<INPUT TYPE=hidden NAME=PTR  VALUE=/>

<TABLE>
	<TR>
		<TD ALIGN=right> メーリングリスト:
		<TD ALIGN=left> <INPUT NAME=ML_DEF SIZE=30>
		<TABLE>
			<TD ALIGN=left>既存リストからの選択:
			<TD ALIGN=right>
			<SELECT NAME=ML>
			__EXPAND_OPTION_ML__
			</SELECT>
		</TABLE>
</TABLE>
_____________________________
<BR>
<INPUT NAME=submit-p TYPE=submit VALUE=GO>
<INPUT NAME=reset-p  TYPE=reset VALUE=Reset>
</FORM>


<HR>
<A NAME=newml><P>メーリングリストの作成

<FORM ACTION="_CGI_PATH_/admin/makefml.cgi" METHOD=POST>
<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
<INPUT TYPE=hidden NAME=PROC VALUE=newml>

<TABLE>
	<TR>
		<TD ALIGN=right> メーリングリスト名:
		<TD ALIGN=left> <INPUT NAME=ML SIZE=30>
</TABLE>

_____________________________
<BR>
<INPUT NAME=submit-p TYPE=submit VALUE=Create>
<INPUT NAME=reset-p  TYPE=reset VALUE=Reset>
</FORM>

<BR>
・メーリングリストをWWWでいじれるように設定する

<FORM ACTION="_CGI_PATH_/admin/makefml.cgi" METHOD=POST>
<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
<INPUT TYPE=hidden NAME=PROC VALUE=mladmincgi>

<TABLE>
	<TR>
		<TD ALIGN=right> メーリングリスト名:
		<TD ALIGN=left> <INPUT NAME=ML SIZE=30>
		<TABLE>
			<TD ALIGN=left>既存リストからの選択:
			<TD ALIGN=right>
			<SELECT NAME=ML>
			__EXPAND_OPTION_ML__
			</SELECT>
		</TABLE>
	<TR>
</TABLE>

_____________________________
<BR>
<INPUT NAME=submit-p TYPE=submit VALUE=Submit>
<INPUT NAME=reset-p  TYPE=reset VALUE=Reset>
</FORM>



<HR>
<A NAME=destructml><P>メーリングリストの消去

<FORM ACTION="_CGI_PATH_/admin/makefml.cgi" METHOD=POST>
<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
<INPUT TYPE=hidden NAME=PROC VALUE=destructml>

<TR>
	<TD ALIGN=right> メーリングリスト:
	<TD ALIGN=left> <INPUT NAME=ML_DEF SIZE=30>
	<TABLE>
		<TD ALIGN=left>既存リストからの選択:
		<TD ALIGN=right>
		<SELECT NAME=ML>
		__EXPAND_OPTION_ML__
		</SELECT>
	</TABLE>
<TR>

_____________________________
<BR>
<INPUT NAME=submit-p TYPE=submit VALUE=Remove>
<INPUT NAME=reset-p  TYPE=reset VALUE=Reset>
</FORM>


<HR>
<A NAME=cgiadmin>
この画面を操作可能な(CGI)管理者アカウントのパスワード設定

<FORM ACTION="_CGI_PATH_/admin/makefml.cgi" METHOD=POST>
<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
<INPUT TYPE=hidden NAME=PROC VALUE=cgiadmin_passwd>
<INPUT TYPE=hidden NAME=ML   VALUE=etc>

<TABLE>
	<TR>
		<TD ALIGN=right> Email アドレス:
		<TD ALIGN=left> <INPUT NAME=CGI_ADMIN_USER SIZE=30>
		<TABLE>
			<TD ALIGN=left>既存リストからの選択:
			<TD ALIGN=right>
			<SELECT NAME=CGI_ADMIN_USER>
			__EXPAND_OPTION_CGI_ADMIN_MEMBER_LIST__
			</SELECT>
		</TABLE>

	<TR>
		<TD ALIGN=right> パスワード:
		<TD ALIGN=left> <INPUT TYPE=password NAME=PASSWORD SIZE=30>

	<TR>
		<TD ALIGN=right> 確認のため同じパスワード:
		<TD ALIGN=left> <INPUT TYPE=password NAME=PASSWORD_VRFY SIZE=30>
</TABLE>
_____________________________
<BR>
<INPUT NAME=submit-p TYPE=submit VALUE=Go>
<INPUT NAME=reset-p  TYPE=reset VALUE=Reset>
</FORM>



<HR>
<A NAME=server_config><P>サーバの設定
<FORM ACTION="_CGI_PATH_/admin/makefml.cgi" METHOD=POST>
<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
<INPUT TYPE=hidden NAME=PROC VALUE=mail_server_config>
<INPUT TYPE=hidden NAME=ML VALUE=etc>

<TR>
	<TABLE>
		<TD ALIGN=left>MTA:
		<TD ALIGN=right>
		<SELECT NAME=MTA>
		<OPTION VALUE=sendmail>sendmail
		<OPTION VALUE=postfix>postfix
		<OPTION VALUE=qmail>qmail
		</SELECT>
	</TABLE>
<TR>
_____________________________
<BR>
<INPUT NAME=submit-p TYPE=submit VALUE=Submit>
<INPUT NAME=reset-p  TYPE=reset VALUE=Reset>
</FORM>

<P>
<FORM ACTION="_CGI_PATH_/admin/makefml.cgi" METHOD=POST>
<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
<INPUT TYPE=hidden NAME=PROC VALUE=newaliases_config>
<INPUT TYPE=hidden NAME=ML VALUE=etc>

<TABLE>
	<TR>
		<TD ALIGN=right> 現在のaliasesの更新方法:
		<TD ALIGN=left> _HOW_TO_UPDATE_ALIAS_
	<TR>
		<TD ALIGN=right> 更新方法:
		<TD ALIGN=left>
		<INPUT NAME=HOW_TO_UPDATE_ALIAS SIZE=80>
	<TR>
		<TABLE>
			<TD ALIGN=left> いくつかの例:
			<TD ALIGN=right>
			<SELECT NAME=HOW_TO_UPDATE_ALIAS>
			__EXPAND_HOW_TO_UPDATE_ALIASES__
			</SELECT>
		</TABLE>
</TABLE>


<BR>
<INPUT NAME=submit-p TYPE=submit VALUE=Submit>
<INPUT NAME=reset-p  TYPE=reset VALUE=Reset>
</FORM>

<P>
<FORM ACTION="_CGI_PATH_/admin/makefml.cgi" METHOD=POST>
<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
<INPUT TYPE=hidden NAME=PROC VALUE=run_newaliases>
<INPUT TYPE=hidden NAME=ML VALUE=etc>

aliasesを更新する: 
<INPUT NAME=submit-p TYPE=submit VALUE="[run newaliases]">
</FORM>

<HR>

<PRE>
Copyright (C) 1993-2000 Ken'ichi Fukamachi
         All rights reserved. 

$Id$
</PRE>
</BODY>
</HTML>
