<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>
"fml" Configuration Interface
</TITLE>
<META http-equiv="Content-Type"
	content="text/html; charset=ISO-2022-JP">
<LINK rev="made" href="mailto:fml-bugs@fml.org">
<LINK rev="Contents" href="index.html">
<LINK rev="alternate" lang="en" href="index-e.html">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
</HEAD>
<BODY BGCOLOR="#E6E6FA">
<!-- =================================================================== -->

<CENTER>
<A HREF="http://www.fml.org/fml/" TARGET="right">
fml _FML_VERSION_ 
</A>
設定メニュー
</CENTER>

<!--- ------------------------------------------------------------------- -->
<CENTER><H3>基本設定</H3></CENTER>
<UL>
	<LI>
	<A HREF="_CGI_PATH_/admin/newml.cgi" TARGET="right">
	ＭＬの新規作成
	</A>

	<LI>ＭＬのメンバー
	<FORM ACTION="_CGI_PATH_/admin/mlmenu.cgi" 
		TARGET="right" METHOD=POST>
	<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
	<INPUT NAME=PROC TYPE="radio" VALUE="add" checked>メンバー登録
	<BR>
	<INPUT NAME=PROC TYPE="radio" VALUE="bye">メンバー削除
	<BR>
	<INPUT NAME=PROC TYPE="radio" VALUE="addadmin">管理者の登録
	<BR>
	<INPUT NAME=PROC TYPE="radio" VALUE="byeadmin">管理者の削除
	<BR>
	<BR>
	<INPUT NAME=PROC TYPE="radio" VALUE="mladminpasswd">管理者パスワード
	<BR>
	選択: 
			<SELECT NAME=ML>
			__EXPAND_OPTION_ML__
			</SELECT>
	<INPUT NAME=submit-p TYPE=submit VALUE=GO>
	</FORM>

	<LI>
	ＭＬの詳細設定
	<FORM ACTION="_CGI_PATH_/admin/makefml.cgi" TARGET="right" METHOD=POST>
	<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
	<INPUT TYPE=hidden NAME=PROC VALUE=config>
	<INPUT TYPE=hidden NAME=PTR  VALUE=/>
	<INPUT TYPE=hidden NAME=ML   VALUE=_ML_>
	選択: 
			<SELECT NAME=ML>
			__EXPAND_OPTION_ML__
			</SELECT>
	<INPUT NAME=submit-p TYPE=submit VALUE=GO>
	</FORM>


	<LI>
	<A HREF="_CGI_PATH_/admin/rmml.cgi" TARGET="right">
	ＭＬの削除
	</A>
</UL>

<!--- ------------------------------------------------------------------- -->
<HR>
<CENTER><H3>管理メニュー</H3></CENTER>

<UL>
	<LI>
	ログをみる
	<FORM ACTION="_CGI_PATH_/admin/makefml.cgi" TARGET="right" METHOD=POST>
	<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
	<INPUT TYPE=hidden NAME=PROC VALUE=log>
	<INPUT NAME="OPTION" TYPE="radio" VALUE="tail" checked>最後のＮ行
	<INPUT NAME="TAIL_SIZE" VALUE=100 SIZE=5>
	<BR>
	<INPUT NAME="OPTION" TYPE="radio" VALUE="day">ある日
	<SELECT NAME="YYYY" SIZE=4>
	__EXPAND_YYYY__
	</SELECT>
	<SELECT NAME="MM" SIZE=2>
	__EXPAND_MM__
	</SELECT>
	<SELECT NAME="DD" SIZE=2>
	__EXPAND_DD__
	</SELECT>
	<BR>
	<INPUT NAME="OPTION" TYPE="radio" VALUE="all">全部

	<BR>
	選択: <SELECT NAME=ML>
	__EXPAND_OPTION_ML__
	</SELECT>

	<INPUT NAME=submit-p TYPE=submit VALUE=GO>
	</FORM>
</UL>

<!--- ------------------------------------------------------------------- -->
<HR>
<CENTER><H3>サーバの設定</H3></CENTER>

<UL>
	<LI>
	<A HREF="_CGI_PATH_/admin/index.cgi#cgiadmin" TARGET="right">
	CGIの操作を許すユーザ
	</A>

	<LI>
	<A HREF="_CGI_PATH_/admin/index.cgi#server_config" TARGET="right">
	MTA (初回には特に確認必須)
	</A>
</UL>

</BODY>
</HTML>
