<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>
_ML_ mailing list configuration
</TITLE>
<META http-equiv="Content-Type"
	content="text/html; charset=ISO-2022-JP">
<LINK rev="made" href="mailto:fml-bugs@fml.org">
<LINK rev="Contents" href="index.html">
<LINK rev="alternate" lang="en" href="index-e.html">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
</HEAD>
<BODY BGCOLOR="#E6E6FA">
<!-- =================================================================== -->
<!-- __START__ -->
<CENTER>
_ML_ ＭＬのリモート管理者の設定
</CENTER>
管理者のメールアドレスと、そのパスワードを設定して下さい。
これは
<UL>
<LI>admin と approve コマンドのパスワード
<LI>およびGUIのメニューに入る
</UL>
の際に使われるパスワードです。
簡単化のため CGI インタフェイスのメニューからは、
この３つに同じパスワードを設定します。
<BR>
CUIの makefml htpasswd を用いることでコマンド用とCGI用と
別々のパスワードをつけることが可能です。
<BR>
注意: 新しい管理者名を入力すると、管理者の新規登録扱いになります

<FORM ACTION="_CGI_PATH_/admin/makefml.cgi" 
	TARGET="right" METHOD=POST>
<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
<INPUT TYPE=hidden NAME=ML   VALUE=_ML_>
<INPUT TYPE=hidden NAME=PROC VALUE=mladminpasswd>


管理者 アカウントもしくはEmail アドレス:
<INPUT NAME=CGI_ADMIN_USER_DEF SIZE=30>
<BR>
	既存のメンバーリストからの選択:
	<SELECT NAME=CGI_ADMIN_USER SIZE=2 >
	__EXPAND_OPTION_CGI_ADMIN_MEMBER_LIST_FOR_EACH_ML__
	</SELECT>

<TABLE>
<TR>
	<TD ALIGN=right> パスワード:
	<TD ALIGN=left> <INPUT TYPE=password NAME=PASSWORD SIZE=30>

<TR>
	<TD ALIGN=right> 確認のため同じパスワード:
	<TD ALIGN=left> <INPUT TYPE=password NAME=PASSWORD_VRFY SIZE=30>
</TABLE>
_____________________________
<BR>
<INPUT NAME=submit-p TYPE=submit VALUE=Submit>
<INPUT NAME=reset-p  TYPE=reset VALUE=Reset>
</FORM>

</BODY>
</HTML>
