<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>
_ML_ mailing list configuration
</TITLE>
<META http-equiv="Content-Type"
	content="text/html; charset=ISO-2022-JP">
<LINK rev="made" href="mailto:fml-bugs@fml.org">
<LINK rev="Contents" href="index.html">
<LINK rev="alternate" lang="en" href="index-e.html">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
</HEAD>
<BODY BGCOLOR="#E6E6FA">
<!-- =================================================================== -->
<H2>
<CENTER>
<A HREF="http://www.fml.org/fml/">"fml"</A> _FML_VERSION_ Configuration Interface

<P>
_ML_  mailing list's setup 
</CENTER>
</H2>

<HR>
<A NAME=config><P>_ML_  mailing list's setup in detail  (makefml config)

<FORM ACTION="_CGI_PATH_/admin/makefml.cgi" METHOD=POST>
<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
<INPUT TYPE=hidden NAME=PROC VALUE=config>
<INPUT TYPE=hidden NAME=PTR VALUE=/>
<INPUT TYPE=hidden NAME=ML VALUE=_ML_>
<INPUT NAME=submit-p TYPE=submit VALUE=GO>
<INPUT NAME=reset-p TYPE=reset VALUE=Reset>
</FORM>


<HR>
<A NAME=adminadd.bye><P> add/remove a remote administrator 

<FORM ACTION="_CGI_PATH_/admin/makefml.cgi" METHOD=POST>
<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
<INPUT TYPE=hidden NAME=ML VALUE=_ML_>

<P>
<TABLE>
	<TR>
		<TD ALIGN=right>  Email address:
		<TD ALIGN=left> <INPUT NAME=SPECIFIC_MAIL_ADDR SIZE=30>
		<TABLE>
			<TD ALIGN=left> choice from the current list:
			<TD ALIGN=right>
			<SELECT NAME=MAIL_ADDR SIZE=2 >
			__EXPAND_OPTION_ADMIN_MEMBER_LIST__
			</SELECT>
		</TABLE>

	<TR>
		<TD ALIGN=right>  add/remove:
		<TD ALIGN=left> 
		<SELECT NAME=PROC SIZE=2 >
		<OPTION VALUE=ADD_ADMIN>ADD ADMIN  (add a remote administrator)
		<OPTION VALUE=BYE_ADMIN>BYE ADMIN  (remove a remote administrator)
		</SELECT>
</TABLE>
_____________________________
<BR>
<INPUT NAME=submit-p TYPE=submit VALUE=Submit>
<INPUT NAME=reset-p TYPE=reset VALUE=Reset>
</FORM>



<HR>
<A NAME=password><P> password for a remote administrator 
<BR>
admin ないし approve コマンドの password とGUIの menu にはいるための
 password を同時に更新します。
<BR>
GUIではとりあえずこれらについては同じ password です。
<BR>
CUIの方の makefml htpasswd を用いることで別の password をつけることは
可能です。

<FORM ACTION="_CGI_PATH_/admin/makefml.cgi" METHOD=POST>
<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
<INPUT TYPE=hidden NAME=PROC VALUE=passwd>
<INPUT TYPE=hidden NAME=ML VALUE=_ML_>

<TABLE>
	<TR>
		<TD ALIGN=right> Email address:
		<TD ALIGN=left> <INPUT NAME=SPECIFIC_MAIL_ADDR SIZE=30>
		<TABLE>
			<TD ALIGN=left> choice from the current list:
			<TD ALIGN=right>
			<SELECT NAME=MAIL_ADDR SIZE=2 >
			__EXPAND_OPTION_ADMIN_MEMBER_LIST__
			</SELECT>
		</TABLE>

	<TR>
		<TD ALIGN=right>  password:
		<TD ALIGN=left> <INPUT TYPE=password NAME=PASSWORD SIZE=30>

	<TR>
		<TD ALIGN=right>  password again:
		<TD ALIGN=left> <INPUT TYPE=password NAME=PASSWORD_VRFY SIZE=30>
</TABLE>
_____________________________
<BR>
<INPUT NAME=submit-p TYPE=submit VALUE=Go>
<INPUT NAME=reset-p TYPE=reset VALUE=Reset>
</FORM>


<HR>
<A NAME=log><P> see ML's log 

<FORM ACTION="_CGI_PATH_/admin/makefml.cgi" METHOD=POST>
<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
<INPUT TYPE=hidden NAME=PROC VALUE=log>
<INPUT TYPE=hidden NAME=ML VALUE=_ML_>

<BR>
<INPUT NAME="OPTION" TYPE="radio" VALUE="tail" checked> the last N lines 
<INPUT NAME="TAIL_SIZE" VALUE=100 SIZE=10>
<BR>
<INPUT NAME="OPTION" TYPE="radio" VALUE="all"> all 
<BR>
<INPUT NAME=submit-p TYPE=submit VALUE=Go>
<INPUT NAME=reset-p TYPE=reset VALUE=Reset>
</FORM>

</BODY>
</HTML>
