<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>
"fml" Configuration Interface
</TITLE>
<META http-equiv="Content-Type"
	content="text/html; charset=ISO-2022-JP">
<LINK rev="made" href="mailto:fml-bugs@fml.org">
<LINK rev="Contents" href="index.html">
<LINK rev="alternate" lang="en" href="index-e.html">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
</HEAD>
<BODY BGCOLOR="#E6E6FA">
<!-- =================================================================== -->
<P>
<UL>
	<LI> basic setup 
	<UL>
		<LI><A HREF="#newml"> make a new ML </A>
		<LI><A HREF="#add"> ML add a new member </A>
		<LI><A HREF="#bye"> ML remove a member </A>
		<LI><A HREF="#admin.add"> add a new remote administrator </A>
		<LI><A HREF="#admin.bye"> remove a remote administrator </A>
		<LI><A HREF="#mlpassword"> password for a remote administrator </A>
		<LI><A HREF="#config"> ML's setup in detail </A>
		<LI><A HREF="#destructml"> remove a ML </A>
	</UL>

	<LI> administration menu 
	<UL>
		<LI>
		<A HREF="#export">make some ML CGI controllable</A>
	</UL>

	<LI> CGI setup 
	<UL>
		<LI><A HREF="#cgiadmin">add a new user which can use CGI</A>
	</UL>
</UL>


<HR>
<CENTER> basic setup </CENTER>
<UL>
   <A NAME=newml>
   <LI> make a new ML 
	<BR>
	<FORM ACTION="_CGI_PATH_/admin/makefml.cgi" METHOD=POST>
	<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
	<INPUT TYPE=hidden NAME=PROC VALUE=newml>

	 mailing list name:<INPUT NAME=ML SIZE=15>

	<BR>
	<INPUT NAME=submit-p TYPE=submit VALUE=Create>
	<INPUT NAME=reset-p TYPE=reset VALUE=Reset>
	</FORM>

   <A NAME=add>
   <A NAME=bye>
   <LI> add/remove a ML member 
	<BR>
	<FORM ACTION="_CGI_PATH_/admin/mlmenu.cgi"
		TARGET="right" METHOD=POST>
	<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
	<INPUT NAME=PROC TYPE="radio" VALUE="add" checked> add a new member 
	<BR>
	<INPUT NAME=PROC TYPE="radio" VALUE="bye"> remove a member 
	<BR>
	 choose a ML:
			<SELECT NAME=ML SIZE=2 >
			__EXPAND_OPTION_ML__
			</SELECT>
	<INPUT NAME=submit-p TYPE=submit VALUE=GO>
	</FORM>

   <A NAME=admin.add>
   <A NAME=admin.bye>
   <LI> add/remove a remote administrator 
	<BR>
	<FORM ACTION="_CGI_PATH_/admin/mlmenu.cgi"
		TARGET="right" METHOD=POST>
	<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
	<INPUT NAME=PROC TYPE="radio" VALUE="addadmin" checked> add a remote administrator
	<BR>
	<INPUT NAME=PROC TYPE="radio" VALUE="byeadmin"> remove a remote administrator
	<BR>
	 choose a ML:
			<SELECT NAME=ML SIZE=2 >
			__EXPAND_OPTION_ML__
			</SELECT>
	<INPUT NAME=submit-p TYPE=submit VALUE=GO>
	</FORM>

    <A NAME=mlpassword>
	<LI> password for a remote administrator and CGI. That is for
	admin commands, approrve commands and CGI menu.
	If you wanna add a new person, just add a new mail address.

	<FORM ACTION="_CGI_PATH_/admin/mlmenu.cgi"
		TARGET="right" METHOD=POST>
	<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
	<INPUT NAME=PROC TYPE="hidden" VALUE="mladminpasswd">
	<BR>
	 choose a ML:
			<SELECT NAME=ML SIZE=2 >
			__EXPAND_OPTION_ML__
			</SELECT>
	<INPUT NAME=submit-p TYPE=submit VALUE=GO>
	</FORM>


   <A NAME=config>
   <LI> ML's setup in detail  (makefml config)
	<BR>
	<FORM ACTION="_CGI_PATH_/admin/makefml.cgi" TARGET="right" METHOD=POST>
	<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
	<INPUT TYPE=hidden NAME=PROC VALUE=config>
	<INPUT TYPE=hidden NAME=PTR VALUE=/>
	<INPUT TYPE=hidden NAME=ML VALUE=_ML_>
	 choose a ML:
			<SELECT NAME=ML SIZE=2 >
			__EXPAND_OPTION_ML__
			</SELECT>
	<INPUT NAME=submit-p TYPE=submit VALUE=GO>
	</FORM>

   <A NAME=destructml>
   <LI> remove a ML 
	<BR>	
	<FORM ACTION="_CGI_PATH_/admin/makefml.cgi" METHOD=POST>
	<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
	<INPUT TYPE=hidden NAME=PROC VALUE=destructml>
	
	<TR>
		<TD ALIGN=right>  ML:
		<TD ALIGN=left> <INPUT NAME=ML_DEF SIZE=30>
		<TABLE>
			<TD ALIGN=left>	 choose a ML:
			<TD ALIGN=right>
			<SELECT NAME=ML SIZE=2 >
			__EXPAND_OPTION_ML__
			</SELECT>
		</TABLE>
	<TR>

	<BR>
	<INPUT NAME=submit-p TYPE=submit VALUE=Remove>
	<INPUT NAME=reset-p TYPE=reset VALUE=Reset>
	</FORM>
</UL>	


<!-- ------------------------------------------------------------------>
<HR>	
<CENTER> administration menu </CENTER>
<UL>
   <A NAME=export>
   <LI> You need 2 step to make some ML CGI controllable.
	Firstly, enable some ML CGI controllable, 
	Secondaly add a member which uses CGI.
	
   <UL>
	<LI> enable some ML CGI controllable
	<FORM ACTION="_CGI_PATH_/admin/makefml.cgi" METHOD=POST>
	<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
	<INPUT TYPE=hidden NAME=PROC VALUE=mladmincgi>

	 mailing list name: <INPUT NAME=ML SIZE=30>
	<TABLE>
		<TD ALIGN=left> choice from the current list:
		<TD ALIGN=right>
		<SELECT NAME=ML SIZE=2 >
		__EXPAND_OPTION_ML__
		</SELECT>
	</TABLE>
	_____________________________
	<BR>
	<INPUT NAME=submit-p TYPE=submit VALUE=Submit>
	<INPUT NAME=reset-p TYPE=reset VALUE=Reset>
	</FORM>

	<LI>     
	<A HREF="#mlpassword">
	add/remove a member which uses CGI for some ML
	</A>
	<BR>
	Caution: This is the same menu of "add a new remote administrator".
    </UL>

<HR>	
   <A NAME=cgiadmin>
   <LI>
	add/remove a user which uses this CGI.
	Please input a mail address and the password
	<BR>
	add: input a set of account and password
	<BR>
	remove: remove an account and click "GO"
	<BR>
	
	<FORM ACTION="_CGI_PATH_/admin/makefml.cgi" METHOD=POST>
	<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
	<INPUT TYPE=hidden NAME=PROC VALUE=cgiadmin_passwd>
	<INPUT TYPE=hidden NAME=ML VALUE=etc>
	
	<INPUT NAME="ACTION" TYPE="radio" VALUE="ADD" checked>add
	<INPUT NAME="ACTION" TYPE="radio" VALUE="BYE">remove

	<BR> Email address / account name:
		<INPUT NAME=CGI_ADMIN_USER_DEF SIZE=30>
	<BR>
		choice from the current list:
		<SELECT NAME=CGI_ADMIN_USER SIZE=2 >
		__EXPAND_OPTION_CGI_ADMIN_MEMBER_LIST__
		</SELECT>

	<TABLE>	
		<TR>
			<TD ALIGN=right>  password:
			<TD ALIGN=left>
			<INPUT TYPE=password NAME=PASSWORD SIZE=30>
		<TR>
			<TD ALIGN=right>  password again:
			<TD ALIGN=left>
			<INPUT TYPE=password NAME=PASSWORD_VRFY SIZE=30>
	</TABLE>
	_____________________________
	<BR>
	<INPUT NAME=submit-p TYPE=submit VALUE=Go>
	<INPUT NAME=reset-p TYPE=reset VALUE=Reset>
	</FORM>
	
</UL>


<HR>

<PRE>
Copyright (C) 1993-2000 Ken'ichi Fukamachi
         All rights reserved.
$Id$
</PRE>
</BODY>
</HTML>
