<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>
_ML_ mailing list configuration
</TITLE>
<META http-equiv="Content-Type"
	content="text/html; charset=ISO-2022-JP">
<LINK rev="made" href="mailto:fml-bugs@fml.org">
<LINK rev="Contents" href="index.html">
<LINK rev="alternate" lang="en" href="index-e.html">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
</HEAD>
<BODY BGCOLOR="#E6E6FA">
<!-- =================================================================== -->
<!-- __START__ -->
<CENTER>
_ML_  ML's remote administration setup 
</CENTER>
setup remote administrator's  Email address and password.
These are used when
<UL>
<LI>password for admin /approve commands
<LI>password for CGI menu
</UL>
To simpify this, password input here is used for these 3 cases.
<BR>
If you change passwords, run "makefml admin.cgi config".
<BR>
Attention: you want to add a new remote administrator, please input
the mail address in the same way.

<FORM ACTION="_CGI_PATH_/admin/makefml.cgi" 
	TARGET="right" METHOD=POST>
<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
<INPUT TYPE=hidden NAME=ML VALUE=_ML_>
<INPUT TYPE=hidden NAME=PROC VALUE=mladminpasswd>


 account / Email address:
<INPUT NAME=CGI_ADMIN_USER_DEF SIZE=30>
<BR>
	choose the current administrator list:
	<SELECT NAME=CGI_ADMIN_USER SIZE=2 >
	__EXPAND_OPTION_CGI_ADMIN_MEMBER_LIST_FOR_EACH_ML__
	</SELECT>

<TABLE>
<TR>
	<TD ALIGN=right>  password:
	<TD ALIGN=left> <INPUT TYPE=password NAME=PASSWORD SIZE=30>

<TR>
	<TD ALIGN=right>  password again:
	<TD ALIGN=left> <INPUT TYPE=password NAME=PASSWORD_VRFY SIZE=30>
</TABLE>
_____________________________
<BR>
<INPUT NAME=submit-p TYPE=submit VALUE=Submit>
<INPUT NAME=reset-p TYPE=reset VALUE=Reset>
</FORM>

</BODY>
</HTML>
