<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>
"fml" Configuration Interface
</TITLE>
<META http-equiv="Content-Type"
	content="text/html; charset=ISO-2022-JP">
<LINK rev="made" href="mailto:fml-bugs@fml.org">
<LINK rev="Contents" href="index.html">
<LINK rev="alternate" lang="en" href="index-e.html">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
</HEAD>
<BODY BGCOLOR="#E6E6FA">
<!-- =================================================================== -->

<!-- __START__ -->
 make a new ML 

<FORM ACTION="_CGI_PATH_/admin/makefml.cgi" METHOD=POST>
<INPUT TYPE=hidden NAME=LANGUAGE VALUE=Japanese>
<INPUT TYPE=hidden NAME=PROC VALUE=newml>

 mailing list name:
<INPUT NAME=ML SIZE=30>

<BR>
<INPUT NAME=submit-p TYPE=submit VALUE=Create>
<INPUT NAME=reset-p TYPE=reset VALUE=Reset>
</FORM>

update [choices] in the menu bar
<A HREF="_CGI_PATH_/admin/menubar.cgi" TARGET=left>
update menu in the left of screen
</A>

</BODY>
</HTML>
